<div class="container">
  <h1 class="display-4 text-center">Mua Hàng Online</h1>
  <div class="row mt-4">
    <div class="col-4" *ngFor="let sanPham of danhSachSanPham">
      <app-item-gio-hang [sanPham]="sanPham" (emitSanPham)="ThemSanPham($event)"></app-item-gio-hang>
    </div>

  <div class="row">
    <div class="col-12 mt-5">
      <span class="bg-warning text-white px-3 py-2">Thêm Hàng Thành Công</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5">
      <h1 class="display-4">Giỏ Hàng</h1>
    </div>
    <div class="col-12">
      <table class="table" >
          <thead>
            <tr>
              <th>Hình Ảnh</th>
              <th>Sản Phẩm</th>
              <th>Giá</th>
              <th>Số Lượng</th>
              <th>Tổng Cộng</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of gioHang">
              <td><img style="width:200px;" [src]="item.sanPham.image" /></td>
              <td style="font-size:25px;">{{item.sanPham.description}}</td>
              <td>{{item.sanPham.price}}</td>
              <td>
                {{item.quantity}}
                <div class="btn-group">
                  <button class="btn btn-info border-right" (click)="giamSoLuong(item.sanPham)">-</button>
                  <button class="btn btn-info border-left" (click)="ThemSanPham(item.sanPham)">+</button>
                </div>
              </td>
              <td>{{ item.sanPham.price * item.quantity }}</td>
              <td>
                <button class="btn btn-info" (click)="xoaSanPham(item.sanPham)">x</button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td style="font-size:30px" class="font-weight-bold">Tổng Tiền</td>
              <td style="font-size:30px" class="font-weight-bold">{{tinhTongTien()}}$</td>
              <td>
                  <button style="font-size:30px" class="btn btn-info" (click)="clearRoHang()">Thanh Toán</button>
                </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>



